<div class="col-md-3 blog-sidebar">
  <h3>Flickr</h3>
  <ul class="list-inline blog-images">
    <li>
      <a  class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="{{ ASSET_PATH }}/img/blog/1.jpg">
      <img alt="" src="{{ ASSET_PATH }}/img/blog/1.jpg">
      </a>
    </li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/2.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/3.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/4.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/5.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/6.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/8.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/10.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/11.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/1.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/2.jpg"></a></li>
    <li><a href="#"><img alt="" src="{{ ASSET_PATH }}/img/blog/7.jpg"></a></li>
  </ul>
  <div class="space20"></div>
  <h3 class="block">分类</h3>
  <ul class="list-group">
    {% assign categories_list = site.categories %}
    {% include custom/blog_categories_list %}
  </ul>
  <div class="space20"></div>
  <h3>标签</h3>
  <ul class="list-inline sidebar-tags">
    {% assign tags_list = site.tags %}
    {% include custom/blog_tags_list %}
  </ul>
  <div class="space20"></div>
  <h3>本周沙龙</h3>
  <div class="tabbable tabbable-custom">
    {% include custom/this_week_salon %}
  </div>
  <div class="space20"></div>
  <h3>Recent Twitts</h3>
  <div class="blog-twitter">
    <div class="blog-twitter-block">
      <a href="">@keenthemes</a> 
      <p>At vero eos et accusamus et iusto odio.</p>
      <a href="#"><em>http://t.co/sBav7dm</em></a> 
      <span>5 hours ago</span>
      <i class="fa fa-twitter blog-twiiter-icon"></i>
    </div>
    <div class="blog-twitter-block">
      <a href="">@keenthemes</a> 
      <p>At vero eos et accusamus et iusto odio.</p>
      <a href="#"><em>http://t.co/sBav7dm</em></a> 
      <span>7 hours ago</span>
      <i class="fa fa-twitter blog-twiiter-icon"></i>
    </div>
    <div class="blog-twitter-block">
      <a href="">@keenthemes</a> 
      <p>At vero eos et accusamus et iusto odio.</p>
      <a href="#"><em>http://t.co/sBav7dm</em></a> 
      <span>8 hours ago</span>
      <i class="fa fa-twitter blog-twiiter-icon"></i>
    </div>
  </div>
</div>