<div class="row">
        <div class="col-md-12">
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title">
            {{ page.title }} <small>{% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</small>
          </h3>
          <ul class="page-breadcrumb breadcrumb">
            <li>
              <i class="fa fa-home"></i>
              <a href="{{ HOME_PATH }}">首页</a> 
              <i class="fa fa-angle-right"></i>
            </li>
            {% unless page.categories == empty %}
              <li>
                <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.categories[0] }}-ref">{{ page.categories[0] }}</a>
                <i class="fa fa-angle-right"></i>
              </li>
            {% endunless %}
            
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
</div>
<div class="row">
    <div class="col-md-12 blog-page">
          <div class="row">
            <div class="col-md-9 article-block">
              <div class="blog-tag-data">
                <ul class="pager">
                  {% if page.previous %}
                    <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
                  {% else %}
                    <li class="previous disabled"><a>&larr; 已经到顶啦~</a></li>
                  {% endif %}
                  {% if page.next %}
                    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
                  {% else %}
                    <li class="next disabled"><a>已经到底啦~ &rarr;</a>
                  {% endif %}
                </ul>
                {% if page.thumbnail %}
                  <img src="{{ page.thumbnail }}" class="img-responsive" alt="{{ page.title }}">
                {% else %}
                  <img src="http://dummyimage.com/946x381/1d943b/ffffff&text={{ page.title }}" class="img-responsive" alt="{{ page.title }}">
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                      <ul class="list-inline blog-tags">
                        <li>
                          <i class="fa fa-tags"></i>
                          {% assign tags_list = page.tags %}
                          {% include custom/tags_list %}
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 blog-tag-data-inner">
                        <ul class="list-inline">
                          <li><i class="fa fa-calendar"></i> <a href="#">{{ page.date | date_to_long_string }}</a></li>
                          <!--<li><i class="fa fa-comments"></i> <a href="#">38 Comments</a></li>-->
                        </ul>
                    </div>
                </div>
              </div>
              <!--end news-tag-data-->
              <div class="content">
                {{ content }}
              </div>
              <div class="post-comment">
                {% include JB/comments %}
              </div>
            </div>
            <!--end col-md-9-->
            {% include themes/metronic/blog_sidebar.html %}
            <!--end col-md-3-->
        </div>
  </div>
</div>
