<div class="tabbable tabbable-custom tabbable-full-width">
    <ul class="nav nav-tabs">
    {% assign idx = '0' %}
    {% capture tag_size %}{{ site.tags | size }}{% endcapture %}
    {% for tag in site.tags %}
    {% capture idx %}{{ idx | plus: '1' }}{% endcapture %}
    {% if idx < '5' %}
        {% if idx == '1' %}
          <li class="active"><a data-toggle="tab" href="#{{ tag[0] }}-ref">{{ tag[0] | join: "/" }}</a></li>
        {% else %}
          <li><a data-toggle="tab" href="#{{ tag[0] }}-ref">{{ tag[0] | join: "/" }}</a></li>
        {% endif %}
    {% else %}
        {% if idx == '5' %}
          <li class="dropdown">
            <a href="javascript:void"  class="dropdown-toggle" data-toggle="dropdown">更多标签<i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" role="menu">
        {% endif %}
                <li><a href="#{{ tag[0] }}-ref" tabindex="-1" data-toggle="tab">{{ tag[0] | join: "/" }}</a></li>
        {% if idx == tag_size %}
              </ul>
          </li>       
        {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for tag in site.tags %}
      {% if forloop.first %}
      <div id="{{ tag[0] }}-ref" class="tab-pane in active">
      {% else %}
      <div id="{{ tag[0] }}-ref" class="tab-pane fade">
      {% endif %}
          {% assign post_list = tag[1] %}
          {% for node in post_list %}
            {% if node.title != null %}
            <div class="search-classic">
              {% if group == null or group == node.group %}
                <h4><a href="{{ BASE_PATH }}{{ node.url }}">{{ node.title }}</a></h4>
                <p>{{ node.excerpt }}</p>
              {% endif %}
            {% endif %}
            </div>
          {% endfor %}
      </div>
    {% endfor %}
    </div>
</div>